[submodule "perfect-terminal/.vim/vim-ctrlspace"]
	path = perfect-terminal/.vim/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace
[submodule "perfect-terminal/.vim/plugged/vim-airline"]
	path = perfect-terminal/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
