[submodule "perfect-terminal/.vim/vim-ctrlspace"]
	path = perfect-terminal/.vim/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace
[submodule "perfect-terminal/.vim/plugged/vim-airline"]
	path = perfect-terminal/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "perfect-terminal/.vim/plugged/vim-hardtime"]
	path = perfect-terminal/.vim/plugged/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "perfect-terminal/.vim/plugged/vim-sleuth"]
	path = perfect-terminal/.vim/plugged/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
